body {
    margin: auto;
    max-width: 40em;
    font-family: 'roboto';
    background: #1a1625;
    color: blanchedalmond;
}

nav li {
    display: inline-block;
    padding: 0 .5em;
}

nav ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: #1f0e3a5d; 
};

.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontal-nav ul li {
    display: inline-block;
    padding: 0 .5em;
}

.horizontal-nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: lightskyblue; 
}

.horizontal-nav ul li a:hover {
    /*background-color: rgb(47, 20, 82); */
    color: #1976d2;
}

h1 {
    color: blanchedalmond; 
    font-size: 36px; 
    text-align: center;
    text-shadow: 2px 2px 4px #000; 
}

form {
    color: blanchedalmond; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

textarea {
    background-color: #2f2b3a;
    color: blanchedalmond;
}

input {
    background-color: #2f2b3a;
    color: blanchedalmond;
}


a:link {
    color: lightskyblue; 
}

a:visited {
    color: lightskyblue;
}

a:hover {
    color: #1976d2; 
}

a:active {
    color: #1976d2;
}

