<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/assets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
        <div class="horizontal-nav">
                <ul>
                    <li><a href="{{ url_for('profile') }}">Takaisin</a></li>
                </ul>
            </div>
        <h3>Vaihda salasana</h3>
        <p></p>
        <form action="/change_password" method="post">
                Vanha salasana: <input type="password" name="old">
                <p>
                Uusi salasana: <input type="password" name="new1">
                <p>
                Uusi salasana uudelleen: <input type="password" name="new2">
                <p>
                <input type="submit" value="Vaihda salasana (Huom! Sinun pitää kirjautua uudelleen sisään)">
        </form>
</body>


<script>
        document.addEventListener("DOMContentLoaded", function() {
          var message = "{{ get_flashed_messages()[0] }}" || "";
          if (message) {
            setTimeout(function() {
              alert(message);
            }, 100);
          }
        });
</script>