<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/assets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
        <a href="{{ url_for('index') }}">Takaisin</a> |
        <p></p>
        <form action="/register" method="post">
                Tunnus: <input type="text" name="username">
                <p>
                Salasana: <input type="password" name="password1">
                <p>
                Anna salasana uudelleen: <input type="password" name="password2">
                <p>
                <input type="submit" value="Luo tunnus">
        </form>
</body>