<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/assets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="horizontal-nav">
        <ul>
            <li><a href="{{ url_for('welcome') }}">Koti</a></li> |
            <li><a href="{{ url_for('my_messages') }}">Omat viestit</a></li> |
            <li><a href="{{ url_for('search') }}">Haku</a></li> |
            <li><a href="{{ url_for('profile') }}">Profiili</a></li> |
            <li><a href="{{ url_for('index') }}">Kirjaudu ulos tästä</a></li>
        </ul>
    </div>

    <h1>Haku</h1>

    <form id="searchForm">
        <label for="search_query">Hakusana:</label>
        <input type="text" id="search_query" name="search_query">
        <button type="submit">Hae</button>
    </form>

    <div id="searchResults">

    </div>

    <script>
        document.getElementById("searchForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var searchQuery = formData.get("search_query");
            fetch("/search", {
                method: "POST",
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById("searchResults").innerHTML = data;
            });
        });
    </script>
</body>
</html>



