<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/assets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="horizontal-nav">
        <ul>
            <li><a href="{{ url_for('welcome') }}">Koti</a></li> |
            <li><a href="{{ url_for('my_messages') }}">Omat viestit</a></li> |
            <li><a href="{{ url_for('search') }}">Haku</a></li> |
            <li><a href="{{ url_for('profile') }}">Profiili</a></li> |
            <li><a href="{{ url_for('index') }}">Kirjaudu ulos tästä</a></li>
        </ul>
    </div>

    <h1>{{topic_name}}</h1>

    <nav>
        <ul>
            {% if chats %}

                {% for chat in chats %}
                <li>
                    <a href="{{ url_for('chat_messages', chat_name=chat.title) }}">
                        <span style="font-size: 1.1em; font-style: italic;">{{ chat.title }}</span>
                        <br>
                        <br>
                         <span>{{ get_username(chat.title) }}</span> 
                         <span style="color: white;"> &nbsp; | &nbsp; </span>
                         <span>Viestejä: {{ get_count(chat.title) }}</span>
                         <span style="color: white;"> &nbsp; | &nbsp; </span> 
                         <span>{{ created_at(chat.title).strftime('%d.%m.%Y %H:%M' ) }}</span>

                         {% if adminstatus == 1 %}
                            <span>  
                                <a href="{{ url_for('delete_chat', chat_name=chat.title, topic_name=topic_name) }}">Poista keskustelu</a>
                            </span>
                        {% endif %}

                    </a>
                    <hr>    
                    
                </li>
                {% endfor %}

            {% else %}
                <p>Tällä alueella ei ole vielä yhtään viestiä :( </p>

            {% endif %}

        </ul>
    </nav>
    <br>
    <form action="{{ url_for('create_chat') }}" method="post">
        <input type="hidden" name="topic_name" value="{{ topic_name }}">
        <textarea name="chat_title" rows="4" cols="50" maxlength="200"></textarea><br>
        <input type="submit" value="Aloita keskustelu (3 - 200 merkkiä!)">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

</body>



<script>
    document.addEventListener("DOMContentLoaded", function() {
      var message = "{{ get_flashed_messages()[0] }}" || "";
      if (message) {
        setTimeout(function() {
          alert(message);
        }, 100);
      }
    });
</script>