<a href="{{ url_for('welcome') }}">Koti</a> |
<a href="{{ url_for('chats') }}">Keskustelut</a> |
<a href="{{ url_for('index') }}">Kirjaudu ulos tästä</a>

<h1>{{topic_name}}</h1>
<ul>
    {% if chats %}
        {% for chat in chats %}
            <li><a href="{{ url_for('chat_messages', chat_name=chat.title) }}">{{ chat.title }}</a></li>
        {% endfor %}
    {% else %}
        <li>Tällä alueella ei ole vielä yhtään viestiä :(</li>
    {% endif %}
</ul>

<form action="{{ url_for('create_chat') }}" method="post">
    <input type="hidden" name="topic_name" value="{{ topic_name }}">
    <input type="text" name="chat_title" maxlength="100" placeholder="Luo keskustelu...(max 100 merkkiä)" required>
    <button type="submit">Luo keskustelu</button>
</form>