<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/assets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3>Tervetuloa, {{ username }}!</h3>
    {% if adminstatus == 1 %}
        <h4>Olet kirjautunut sisään ylläpitäjänä; voit luoda ja poistaa keskustelualueita, keskusteluita ja viestejä</h4>
    {% endif %}
    <nav>
        <ul>
            <li><a href="{{ url_for('welcome') }}">Koti</a></li>
            <li><a href="{{ url_for('my_messages') }}">Omat viestit</a></li>
            <li><a href="{{ url_for('search') }}">Haku</a></li>
            <li><a href="{{ url_for('profile') }}">Profiili</a></li>
            <li><a href="{{ url_for('index') }}">Kirjaudu ulos tästä</a></li>
        </ul>
    </nav>

    <h3>Aiheet:</h3>
    {% if adminstatus == 1 %}
    <form action="{{ url_for('create_topic') }}" method="post">
        <input type="text" name="topic_name" placeholder="Anna keskustelualueen aihe">
        <button type="submit">Luo keskustelualue</button>
    </form>
    {% endif %}
    <nav>
    <ul>
        {% for topic in topics %}
        <li>
            <a href="{{ url_for('topic_chats', topic_name=topic[0]) }}">
                {{ topic[0] }}
                <span style="color: white;"> &nbsp; | &nbsp; </span> 
                <span style="display: inline;">Keskusteluita: {{ get_count(topic[0]) }}</span>
                {% if adminstatus == 1 %}
                    <span>
                        <a href="{{ url_for('delete_topic', topic_name=topic[0]) }}">Poista keskustelualue</a>
                    </span>
                {% endif %}
            </a>
        </li>        
        {% endfor %}
    </ul>
    </nav>



</body>